:root{
    --gris: rgba(198, 194, 194, 0.5);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background: linear-gradient(rgb(5, 7, 12, 50%), rgba(5, 7, 12, 50%)), url(../img/bg-body.png);
    background-size: cover; 
    font-family: 'Arial', sans-serif;
}

main{
    padding: 20px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    height: 100%;
    background-color: #40B554;
}

header{
    background-color: var(--gris);
    box-shadow: 1px 1px 5px 0px var(--gris);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius:  50px;
    position: sticky;
    top: 0;
    width: 100%;
}

.logo{
    display: inline-block;
    width: 100px;
    height: auto;
    margin-left: 15px;
}

nav{
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-out;
}

.menu a{
    display: block;
    padding: 30px;
    color: white;
}

.menu a:hover{
    background-color: #07390f;
}

.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}

.hamb-line{
    background: #40B554;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

.hamb-line::before,
.hamb-line::after{
    background: #40B554;
    content: ' ';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before{
    top: 5px;
}

.hamb-line::after{
    top: -5px;
}

.side-menu{
    display: none;
}

.side-menu:checked  ~ nav{
    max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line{
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before{
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after{
    transform: rotate(45deg);
    top: 0;
}

@media (min-width: 768px)
{
    .nav
    {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }

    .menu li
    {
        float: left;
    }

    .menu a:hover
    {
        background-color: transparent;
        color: var(--green-light)
    }

    .hamb
    {
        display: none;
    }
}

/*infoBox styles*/
#infoBox {
    background-color: rgba(64, 181, 84, 0.65);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
}

#infoBox h1 {
    font-size: 24px;
    color: #fff;
}

#infoBox p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 20px;
}

#infoBox button {
    background-color: #fff;
    color: #40B554;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

